* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--opensans);
    font-size: 15px;
    font-weight: 400;
    scroll-behavior: auto;
}

:root {
    --violet: hsl(257, 40%, 49%);
    --softmagenta: hsl(300, 69%, 71%);
    --poppins: "Poppins", sans-serif;
    --opensans: "Open Sans", sans-serif;
}

body {
    background-image: url("../images/bg-desktop.svg");
    background-position: top right 10rem;
    background-color: var(--violet);
    background-repeat: no-repeat;
    background-size: 92%;
}

header {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 16rem;
    height: 2rem;
    background-color: white;
    margin-top: 5rem;
    margin-left: 5rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.icons {
    margin-top: 8rem;
    margin-left: 5rem;
    width: 50%;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 10rem;
    margin-left: 6rem;
    width: 500px;
    height: 500px;
}

.description h1 {
    font-family: var(--poppins);
    font-size: 2.5rem;
    font-weight: 600;
    width: 450px;
    height: auto;
    color: white;
    line-height: 3.5rem;
    letter-spacing: 0.1rem;
}

.description p {
    padding-top: 1.5rem;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    width: 520px;
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
}

.description a {
    margin-top: 3rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 2rem;
    color: var(--violet);
    font-size: 1.1rem;
    padding: 0.8rem 4.5rem;
    text-decoration: none;
}

.description a:hover {
    cursor: pointer;
    background-color: var(--softmagenta);
    color: white;
    border-style: none;
    transform: scale(1.1);
    transition: all 0.15s;
}

.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

ion-icon {
    font-size: 2rem;
    color: white;
    margin-top: 2rem;
    margin-right: 5rem;
}

ion-icon:hover {
    cursor: pointer;
    color: var(--softmagenta);
    transform: scale(1.3);
    transition: all 0.3s;
}

footer {
    bottom: 0;
    width: 100%;
}

.attribution {
    font-size: 1rem;
    color: var(--softmagenta);
    text-align: center;
    font-family: var(--poppins);
}

.attribution a {
    color: white;
}

.name {
    text-decoration: none;
    cursor: progress;
}

@media (max-width: 1440px) {
    .logo {
        width: 12rem;
        margin-top: 3rem;
        margin-left: 7rem;
    }
    .icons {
        margin-top: 8rem;
        margin-left: 7rem;
        width: 52%;
    }
    .description {
        margin-top: 0;
        margin-left: 5rem;
        width: 450px;
        height: 300px;
    }
    .description h1 {
        font-size: 2.2rem;
        line-height: 3rem;
        letter-spacing: 0.2rem;
    }
    .description p {
        font-size: 1rem;
        letter-spacing: 0.12rem;
        line-height: 1.6rem;
    }
    .description a {
        margin-top: 1.9rem;
        font-size: 1.2rem;
    }
    ion-icon {
        margin-top: 0;
        margin-right: 5.5rem;
    }
    .attribution {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    body {
        background-position: top right;
        background-size: 90%;
    }
    .logo {
        width: 8rem;
        height: 1.5rem;
        margin-top: 2rem;
        margin-left: 1.5rem;
    }
    .icons {
        margin-top: 3rem;
        margin-left: 1.5rem;
        width: 52%;
    }
    .description {
        margin-top: 3rem;
        margin-left: 2.8rem;
        width: 290px;
        height: 250px;
    }
    .description h1 {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        line-height: 1.8rem;
    }
    .description p {
        font-size: 0.7rem;
        width: 255px;
        padding-top: 0.6rem;
        letter-spacing: 0.14rem;
        line-height: 1.2rem;
    }
    .description a {
        margin-top: 1.5rem;
        font-size: 0.8rem;
        padding: 0.5rem 2.5rem;
    }
    .social-links {
        position: absolute;
        right: -2rem;
    }
    ion-icon {
        font-size: 1.2rem;
    }
    footer {
        position: relative;
        margin-top: 1.8rem;
        width: 100%;
    }
    .attribution {
        font-size: 0.5rem;
    }
}

@media(max-width: 425px) {
    body {
        background-image: url("../images/bg-mobile.svg");
        background-position: top -2rem left;
        background-size: 100%;
    }
    .logo {
        width: 8rem;
        height: 1rem;
        margin-top: 2rem;
        margin-left: 3.2rem;
    }
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .icons {
        margin-top: 5rem;
        margin-left: 0;
        width: 78%;
    }
    .description {
        margin-top: 4rem;
        margin-left: -11rem;
    }
    .description h1 {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 3rem;
        letter-spacing: 0.1rem;
        text-align: center;
    }
    .description p {
        padding-top: 1.2rem;
        padding-left: 3rem;
        font-size: 1.1rem;
        font-weight: 400;
        text-align: center;
        width: 400px;
        line-height: 1.9rem;
        letter-spacing: 0.1rem;
    }
    .description a {
        margin-top: 3rem;
        margin-left: 6.5rem;
        font-size: 1.1rem;
        padding: 0.6rem 6rem;
    }
    .social-links {
        justify-content: center;
        margin-top: 10rem;
        margin-right: 3rem;
    }
    ion-icon {
        font-size: 1.8rem;
    }
    footer {
        margin-top: 20rem;
    }
    .attribution {
        font-size: 0.8rem;
    }
}

@media(max-width: 320px) {
    body {
        background-position: top left;
        background-size: 130%;
    }
    .logo {
        width: 8rem;
        margin-top: 3rem;
    }
    .icons {
        margin-left: 5.5rem;
        width: 98%;
    }
    .description {
        margin-left: -5rem;
    }
    .description h1 {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    .description p {
        margin-top: 2.2rem;
        margin-left: 5.2rem;
        padding-left: 0;
        width: 100%;
        font-size: 1rem;
        line-height: 1.6rem;
        letter-spacing: 0.1rem;
    }
    .description a {
        margin-left: 7.2rem;
        padding: 0.6rem 5.6rem;
    }
    .social-links {
        padding-top: 2rem;
        margin-right: -2.6rem;
    }
    ion-icon {
        font-size: 1.6rem;
    }
    footer {
        margin-top: 18rem;
        margin-left: 2rem;
    }
}